{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
      {% if category %}
           {{ category.description|truncatewords:155 }}
      {% else %}
            welcome to Jio mart sorry.......
      {% endif %}
{% endblock %}
{% block title %}
      {% if category %}
           {{ category.name }} --> Jio mart
      {% else %}
            Let's Shop-Best shopping experience
      {% endif %}
{% endblock %}

{% block content %}
{% if category %}
<div>
  <div class="row my_row_class">
      <div class="mx-auto">
        <p><a href="{% url 'shop:allProdCat' %}">Our collections</a> </p>
    </div>
  </div>
</div>
{% endif %}
<div class="mx-auto">
    {% if category %}
    <img src="{{category.image.url}}" alt="{{category.name}}" height="100px;">
</div>
<br>
<div>
    <h1 class="text-center title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
    <img class=" my_image_padding" src="{% static 'img/letsshop.png' %}" alt="Offers.." width="100%;" height="300px;">
</div>
<br>
<div>
    <h1 class="text-center">Our Product Collections....</h1>
    <p class="text-justify">It is one of India's leading E-commerce marketplaces and is headquartered in Bengaluru. The company initially started as an online bookstore. Later, it also started selling other items such as movies and mobile phones.</p>
</div>
{% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:15rem;">
                <a href="{{product.get_url}}"><img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}" width="auto;" height="350px;"></a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>Rs.{{product.price}}/-</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

  <div class="mx_auto">
            {% if products.paginator.num_pages > 1 %}
            <br>
            <div class="text-center">
                  {% for pg in products.paginator.page_range %}
                   <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
            </div>
            {% endif %}
    </div>
</div>
{% endblock %}